
@model NFL.Models.Experiences.Experience


@Html.HiddenFor(exp => exp.Id, new { @id = ID + "Id", Name = NAME + "Id" })
<dl class="dl-horizontal">

    @*Displaying Organization STARTS*@
    <dt>
        Organization :
    </dt>
    <dd>

        <div class="entry">
            @Html.DisplayFor(exp => exp.Organization)
        </div>
        <div class="edit_field" style="display:none">
            @* @Html.HiddenFor(exp => exp.Id)*@

            <div class="row">
                <div class="col-md-4">
                    @Html.TextBoxFor(exp => exp.Organization,
                                               new { @class = "form-control ", @id = ID + "Organization", Name = NAME + "Organization" })
                </div>
                <div class="col-md-8">
                    @Html.ValidationMessageFor(exp => exp.Organization, "", new
                                           {
                                               @class = "text-danger"
                                                ,
                                               @id = ID + "Organization",
                                               Name = NAME + "Organization"
                                           })
                </div>
            </div>
        </div>
    </dd>
    @*Displaying Organization ENDS*@

    @*Displaying Role STARTS*@
    <dt>
        @Html.DisplayNameFor(exp => exp.Role) :
    </dt>
    <dd>
        <div class="entry">
            @Html.DisplayFor(exp => exp.Role)
        </div>
        <div class="edit_field" style="display:none;">
            <div class="row">
                <div class="col-md-3">
                    @Html.TextBoxFor(exp => exp.Role, new { @class = "form-control", @id = ID + "Role", Name = NAME + "Role" })
                </div>
                <div class="col-md-8">
                    @Html.ValidationMessageFor(exp => exp.Role, "", new { @class = "text-danger", @id = ID + "Role", Name = NAME + "Role" })
                </div>
            </div>


        </div>
    </dd>
    @*Displaying Role ENDS*@


    @*Displaying Date STARTS*@
    <dt>
        Date(s) :
    </dt>
    <dd>
        <div class="entry">
            @dateF - @dateT
        </div>

        <div class="edit_field" style="display:none">
            <div class="row">
                <div class="col-md-4">
                    @Html.TextBoxFor(exp => exp.DateFrom, new { @class = "form-control ", @id = ID + "DateFrom", Name = NAME + "DateFrom" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(exp => exp.DateTo, new { @class = "form-control ", @id = ID + "DateTo", Name = NAME + "DateTo" })
                </div>
            </div>
            @Html.ValidationMessageFor(exp => exp.DateFrom, "", new { @class = "text-danger", @id = ID + "DateFrom", Name = NAME + "DateFrom" })
            @Html.ValidationMessageFor(exp => exp.DateTo, "", new { @class = "text-danger", @id = ID + "DateTo", Name = NAME + "DateTo" })
        </div>
    </dd>
    @*Displaying Date ENDS*@



    @*Displaying Description STARTS*@
    <dt>
        @Html.DisplayNameFor(exp => exp.Description) :
    </dt>
    <dd>
        <div class="entry">
            @Html.DisplayFor(exp => exp.Description)
        </div>

        <div class="edit_field" style="display:none;">



            <div class="row">
                <div class="col-md-4">
                    @Html.TextAreaFor(exp => exp.Description, new { @class = "form-control", @id = ID + "Description", Name = NAME + "Description" })

                </div>
                <div class="col-md-8">
                    @Html.ValidationMessageFor(exp => exp.Description, "", new { @class = "text-danger", @id = ID + "Description", Name = NAME + "Description" })
                </div>
            </div>


        </div>
    </dd>
    @*Displaying Description ENDS*@

    <input class="required_data" type="hidden" id="replacementLabels" name="replacementLabels"
           value="Organization : ,Role : ,Date(s) : ,Description : " />
    <input class="required_data" type="hidden" id="originalLabels" name="originalLabels"
           value="" />


</dl>
@Html.Partial("Details/EditButtons", Model[index].Id)